<p id="notice"><%= notice %></p>

<p>
  <strong>Prod sku:</strong>
  <%= @product.prod_sku %>
</p>

<p>
  <strong>Prod Name:</strong>
  <%= @product.prod_name %>
</p>


<p>
  <strong>Prod NRC Cost:</strong>
  <%= @product.prod_nrc_cost %>
</p>

<p>
  <strong>Prod NRC Price:</strong>
  <%= @product.prod_nrc_price %>
</p>

<p>
  <strong>Prod MRC Cost:</strong>
  <%= @product.prod_mrc_cost %>
</p>

<p>
  <strong>Prod MRC Price:</strong>
  <%= @product.prod_mrc_price %>
</p>

<p>
  <strong>Prod account:</strong>
  <%= @product.prod_account %>
</p>

<p>
  <strong>Prod category:</strong>
  <%= @product.product_category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
