<!DOCTYPE html>
<html>
	<head>
		<title>Quotetool</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<%= csrf_meta_tags %>
	</head>
   <body>
        <div class="container">
            <div class="page-header">
                 <ul class="nav nav-pills pull-right">
                    <li><%= link_to "Home", root_url %></li>
                    <li><%= link_to "Orders", orders_url %></li>
                    <li><%= link_to "Order Lines", order_lines_url %></li>
                    <li><%= link_to "Products", products_url %></li>
                    <li><%= link_to "Product Categories", product_categories_url %></li>
                </ul>
                <h1><%= link_to "OneVoice", "/" %><small> Quoting Tool</small></h1>
            </div>
            <div class="row">
            
              <div class="col-md-12"><%= yield %></div>
            </div>
        </div>
    </body>
</html>
